.text-decorator-none{
    text-decoration: none;
}

.textos1{
    font-weight: bold !important;
    
    
}

.imgLogin{
    background-image: url('https://i.imgur.com/XPdjuFS.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.corLog{
    background-color: rgba(220, 227, 231, 0.382);
    color: aliceblue !important;
    }

    .fundoLog{
        background-color: rgba(203, 147, 147, 0.556) !important;
        height: 400px;
        width: 400px;
        border-radius: 15px;
    }