.text-decorator-none {
  text-decoration: none;
}



.textos1 {
  font-weight: bold !important;
}

.imgLogin {
  background-image: url("https://i.postimg.cc/Fzc7jD6n/background-1.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.corLog {
  background-color: rgba(220, 227, 231, 0.382);
  color: aliceblue !important;
}

.fundoLog {
  background-color: rgb(255, 255, 255) !important;
  align-items: center  !important;
  border-radius: 60px;
  height: 100px !important;
  width: 100px !important;

}

.imgCadastro {
  background-image: url("https://i.postimg.cc/Fzc7jD6n/background-1.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }

  .textos2{
    font-weight: bold !important;
  }
  
  .btnCancelar{
    margin-right: 20px !important;
  }

  .corpoLog{
    background-color: #F6F1E9!important;
  height: 380px !important;
  width: 450px;
  border-radius: 15px;
 
  font-style: italic;
  align-items: center !important;
  }
  