.scrollTopBtn {
    position: fixed !important;
    margin-top: 650px !important;
    background: none;
    border: none;

}

.scrollTopImg {
    max-width: 35%;
    opacity: 0.5;
}

.scrollTopImg:hover {
    transition: 0.5s;
    scale: 1.1;
}

.scrollTopImg:not(:hover) {
    transition: 0.5s;
    scale: 1.0;
}
