.corpoTema{
  background: #f8f1f1d5 !important;
  height: 380px ;
  width: 280px;
  border-radius: 15px;
  padding: 50px;
  font-style: italic;
  align-items: center !important;
  }

  .centralizar {
    min-height: 100vh;
    background-image: url("/src/images/backgroundCadTemasPB.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

    .cadtemastitulo{
      color: black !important; 
      font-weight: bold !important;
    }
    
    .formTema{
      color: white !important;
    }

    .btnTemas{
      display: flex !important;
      justify-content: center !important;
      
    }