
.navbarLink{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}

.navbar {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbarLinks {
    border-right: 1px solid lightgray;
    padding: 0 2em;
}

.navbarLinks:hover {
    transition: 1s;
    background-color: gray;
}
.navbarLinks:not(hover), .logoutLink {
    transition: 1s;
}

.logoutLink {
    border: 1px solid lightgray;
}

.navbar {
    background-color: #F6F1E9;
}

.text-decorator-none{
    text-decoration: none;
}

.imgPerfil{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}