.imgCadastro {
  background-image: url("../../../images/background-cadastro.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
  
  
  .btnCancelar{
    margin-right: 20px !important;
    background-color: #009077 !important;
  }
  .containerCadastro{
    background-color: #F6F1E9;
      border-radius: 15px;
      align-items: center;
      padding: 3em;
      max-width: 30%;
  }

    .BtnCadastrar {
      background-color: #009077 !important;
      color: #F6F1E9 !important;
    }
  
    @media screen and (max-width: 768px){
      .containerCadastro{
        padding: 2em;
        border-radius: 0;
      }
    }

    @media screen and (min-width: 768px) {
      .containerLogin-form {
        padding-bottom: 8em;
        margin-top: 15px;
      }
    }