.perfil-dados {
    border-right: 2px solid #f1f1f1;
    
}
.usuario-perfil-foto:hover {
    scale: 1.1;
    cursor: pointer;
    box-shadow: rgba(255, 0, 0, 0.16) 0px 1px 4px, rgba(255, 0, 0, 0.16) 0px 0px 0px 3px;
}

.peril-container {
    padding-top: 15vh !important;
}
.perfil-imgPostagem {
    max-width: 100%;
}
.perfil-postagens {
    height: 500px;
    width: 280px;
}
.perfil-postagens:hover {
    scale: 1.1;
}

.perfilUpdate form {
    width: 35vw;
}

@media screen and (max-width: 768px) {
    .peril-container {
        margin-top: 80px;
    }

    .perfil-dados {
            border: none;
            border-bottom: 1px solid #f1f1f1;
            
        }
        .formAtualizarPerfil{
            padding-left: 75px !important;
            padding-right: 75px !important;
        }

        .formAtualizar {
            width: 100% !important;
        }
}