*{
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #0f0f0e;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #E8AA42;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}


