*{
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #0f0f0e;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #E8AA42;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 1px solid #0f0f0e;
    /* creates padding around scroll thumb */
}

.scrollTopBtn {
    position: fixed !important;
    margin-top: 550px !important;
    background: none;
    border: none;
    
}

.scrollTopImg {
        max-width: 35%;
}
.scrollTopImg:hover {
    transition: 0.5s;
    scale: 1.1;
}

.scrollTopImg:not(:hover) {
    transition: 0.5s;
    scale: 1.0;
}
