.caixa {
  background-color: #0f0f0f;

}

.titulo {
  color: rgb(255, 255, 255) !important;
  font-weight: bold !important;
}

.botao {
  border-color: rgb(255, 255, 255) !important;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255) !important;
}

.postagem-normal {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.imagemContainer{
  margin-top: 120px !important;
  margin-bottom: 80px !important;
  margin-left: 80px !important;
  margin-right: -150px !important;
}
.postagem-expanded {
  transform: scale(1.5);
}

.homeContainer {
  margin-top: 200px !important;
  margin-bottom: 100px !important;
}

@media screen and (min-width: 768px) {
  
}


@media screen and (max-width: 768px) {
  .caixa {
    width: 100vw !important;
  }

  .imagemHome {
    display: none;
  }

  .homeContainer {
    margin-top: 100px !important;
  }
}